*{
    margin: 0;
    padding: 0;
}

.Side-bar .card{
    left: calc(100% - 500px);
}

.Side-bar #root{
    transform: translate(0px);
}

.card{
    position: fixed;
    top: -10;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    /* height: 390vh; */
    height: 110vh;
    transition: 0.5s;
}

.close-btn{
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: red;
}


.close-btn:hover{
    background-color: darkred;
}

.btn{
    display: flex;
    justify-content: end;
}

.btn-btn{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#products{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.image-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.title{
    font-size: 10px;
}

.product-container{
    background-color: rgb(232, 227, 227);
    margin: 10px;
}