*{
    margin: 0;
    padding: 0;
}

.Side-bar{
    background-color: black;
    min-height: 100vh;
    width: 500px;
    transform: translateX(-470px);
    position: absolute;
}

.btn{
    display: flex;
    justify-content: end;
}

.btn-btn{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.Side-bar:hover{
    transform: translateX(0px);
    transition: 2s ease-in-out;
}



#products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.product-container{
    background-color: rgb(232, 227, 227);

    margin: 30px;
}

/* .active .product-container{
    left: calc(100% - 500px);
}
.active #root{
    transform: translate(-200px);
    background-color: violet;
} */